 body{
 	background-color: #fff;

 }
 .container{
 	margin-top: 0px;
 }

 header{
 	background-color: #a2cf5d;
 	background: -webkit-linear-gradient(top left,#38b4a0,#38b4a0,#38b4a0,#84c76f,#84c76f,#80c670,#80c670,#80c670);
 	height: 200px;
 	width:100%;
 	color:#fff;
 	font-size: 70px;
 	text-align: center;
 	margin-top: 0px;
 	line-height: 180px;

 }
header::last-letter{
	font-size: 10px;
}

 .content{
 	margin-top: 70px;
 	padding: 10px;
 	height: 300px;
 	line-height: 300%;
 	color:#6d6e71 ;
 	font-family: Arial, Helvetica, sans-serif;

 }	
 strong{
 	color: #000;
 }

.copy{
 	color:#fff;
 	height: 10px;
 	padding-bottom: 10px;
 	margin-bottom: 20px;
 }

 .fa-facebook{
 	color:#fff;
 	font-size: 20px;
 	margin-left: 50px;
 	width: 20px;
 	height:20px;
    border:2px solid #fff;
    margin-top: 20px;
 	margin-bottom: 20px;
 	padding: 10px;
 	padding-top:15px;
 	border-radius: 50%;
 	line-height: 25px;
 	text-align: center;
 
 }

.fa-twitter{
 	color:#fff;
 	font-size: 20px;
 	margin-left: 50px;
 	width: 20px;
 	height:20px;
	border:2px solid #fff;
	margin-top: 20px;
 	margin-bottom: 20px;
 	padding: 10px;
	padding-top:15px;
 	border-radius: 50%;
 	line-height: 25px;
 	text-align: center;

 }
 .fa-instagram{
 	color:#fff;
 	font-size: 20px;
 	margin-left: 50px;
 	width: 20px;
 	height:20px;
	border:2px solid #fff;
	margin-top: 20px;
 	margin-bottom: 20px;
 	padding: 10px;
	padding-top:15px;
 	border-radius: 50%;
 	line-height: 25px;
 	text-align: center;

 
 }

 .fa-link{
 	color:#fff;
 	font-size: 20px;
 	margin-left: 50px;
 	width: 20px;
 	height:20px;
	border:2px solid #fff;
	margin-top: 20px;
 	margin-bottom: 20px;
 	padding: 10px;
	padding-top:15px;
 	border-radius: 50%;
 	line-height: 25px;
 	text-align: center;

 
 }

 
 hr{
 	margin:0 auto;
 	width:70%;
 }

 .foot{
 	color:#fff;
 	text-align: center;
 	font-family: Arial, Helvetica, sans-serif;

 	/*font-size: 25px;*/
 }

 footer{
 	background-color: #6d6e71;
 	min-height:220px;
 }
 .copy{
 	text-align: center;
 	padding-top:20px;
 }